.show-sm {
  display: none;
}

// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
  .hide-lg {
    display: none;
  }
}

// Tablets & small laptops
@include mediaMd {
  .hide-md {
    display: none;
  }
  .navbar-links {
    font-size: 0.7rem;
    margin: auto;
    // padding: 1rem 0.5rem;
    &-links {
      padding: 0;
    }
  }
  .landing {
    overflow: auto;
  }
  .footer-text {
    font-size: 0.7rem;
  }
  .landing-image {
    padding: 1rem 0;
  }
}

// Smartphones
@include mediaSm {
  .hide-sm {
    display: none;
  }
  .landing-main {
    flex-direction: column;
    .landing-content {
      width: 80%;
    }
    .landing-image {
      width: 100%;
    }
  }

  footer {
    #main-footer {
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
  }
  .landing-main {
    // padding-bottom: 2rem;
  }
  .navbar-links {
    .show-sm {
      display: inline;
    }

    ul.nav-links {
      // Slide in from top
      transform: translate3d(0, 0, 0);
      @include easeOut;
      opacity: 100%;
      visibility: visible;
      &.collapsed {
        visibility: hidden;
        transform: translate3d(+100%, 0, 0);
        @include easeOut;
      }
      .show-sm {
        visibility: visible;
      }
      z-index: 1;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      @include set-background($primary-color);
      flex-direction: column;
      font-size: 4vh;
      @include centered;
      //   .nav-item {
      //     transform: translate3d(600px, 0, 0);
      //     @include easeOut;

      //     &.show {
      //       // Slide in from right
      //       transform: translate3d(0, 0, 0);
      //       @include easeOut;
      //     }
      //   }
      .nav-link {
        color: set-text-color($primary-color);

        &.selected {
          border: none;
          color: $secondary-color;
        }
        &:hover {
          border: none;
          color: $light-color;
        }
      }
    }
  }
  .container {
    padding: 0 1rem;
    margin-top: 0;
  }

  .content {
    .content-dual {
      flex-direction: column;
      .content-left {
        width: 100%;
        margin-top: 0;
        padding: 0;
      }
      .content-right {
        width: 100%;
      }
    }
    &-image {
      width: 90%;
      margin: auto;
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      @include centered;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  .tab-nav {
    padding: 0.25rem;

    .tab-links {
      justify-content: space-between;
      .tab-link {
        font-size: 0.7rem;
        margin: 0.1rem;
      }
    }
  }
}
